body
  font-family: 'Roboto', sans-serif
  margin: 0px
  display: flex
  flex-direction: column
svg
  margin: 10px
  flex-grow: 1
text
  text-anchor: middle
  font-size: 30px
  font-weight: 900
.colon
  fill: #666
text.overtime
  font-size: 8px

.overtime
  display: none
.negative
  .overtime
    display: block
  text
    fill: Crimson

.help
  font-size: 14px
  display: fixed
  bottom: 0px
  padding: 3px 10px
  text-align: center
  background-color: #333
  color: white
kbd
  background: #666
  padding: 0px 4px
.tip + .tip
  padding-left: 2em
