body
  font-family: 'Roboto', sans-serif
text
  text-anchor: middle
  font-size: 30px
.colon
  fill: #666
text.overtime
  font-size: 8px

.overtime
  display: none
.negative
  .overtime
    display: block
  text
    fill: Crimson
