body
  font-family: 'Roboto', sans-serif
text
  text-anchor: middle
  font-size: 30px
.colon
  fill: #666
text.overtime
  font-size: 10px

#sign
  display: none
.negative
  #sign
    display: block
  text
    fill: Crimson
