html
  head
    link(href="https://fonts.googleapis.com/css?family=Roboto:900", rel="stylesheet")
    link(href="index.css", rel="stylesheet")
    script(src="index.js")
  body
    audio#bell(src="bell.mp3", preload) Your browser doesn't support the &lt;audio&gt; tag, so the bell sound won't work.
    svg#timer(viewBox="-43 -23 86 32")
      text#minutes(x="-25") 00
      text.colon(y="-2.5") :
      text#seconds(x="25") 00
      text.overtime(x="0",y="8") OVERTIME: STOP NOW
